.next
node_modules
.env
.env.*
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vercel
.postgres-data
.postgres-run
pg-runtime
tmp-log
*.log
cookies.txt
.postgres-pass
company-cert-test.p12
postgresql-17.9-3-windows-x64.exe
.tmp-vercel-public.json
